<div>
	<form #newRecipeForm="ngForm" (ngSubmit)="save(newRecipeForm)">
        <label for="nameField">Name:</label>
        <input #name id="name" name="name" [(ngModel)]="recipe.name"> 
        <br />
        <label for="ingreField">Ingredients:</label>
        <input name="ingredients" size="100" [(ngModel)]="recipe.ingredients">
		<br/>
		<label for="stepsField">Steps:</label>
        <input name="steps" size="150" [(ngModel)]="recipe.steps">
		<br/>
		<label for="timersField">Timers:</label>
        <input name="timers" [(ngModel)]="recipe.timers" type=”number”>
		<br/>
		<label for="timersField">ImageURL:</label>
        <input name="imageURL" [(ngModel)]="recipe.imageURL">
		<br/>
     <button type="submit">save</button>
</form>
</div>